*, *::after, *::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-container {
display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 60px 0;
}
.header-h1 {
    margin-bottom: 10px;
}
.header-links {
 display: flex;
 gap: 35px;
}
.header-links a {
    text-decoration: none;
    list-style: none;
}

.intro-image{
 width: 700px;
 height: 730px;
}

.intro-container {
    display: flex;
    gap: 42px;
    align-items: center;
}

.intro-text-container{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.header, 
.intro {
    background-image: url(./src/start-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container{
    padding: 80px 0 100px 0;
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}

.about-text-container {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}